
<div class="container">
  <div class="row">
    <div class="col">
      <div>
        <h2>Oferta</h2>
        <select #selectList (change)="selectOffer(selectList.value)">
          <option *ngFor='let oferta of listOffers' value="{{oferta.id}}">{{oferta.versions[0].name}}</option>
        </select>
        
        </div>
    </div>
    <div class="col">
      <app-offer [id]="id" [name]="name"></app-offer>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-characteristics [characteristics]="characteristics"></app-characteristics>
    </div>
    <div class="col">
      <app-prices [precios]="precios"></app-prices>
    </div>
  </div>
</div>



